*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body  {
    background-image: url("straw.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: cornsilk;
}
.main {
    height: 100%;
    margin-left: 160px; 
    font-size: 28px;
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
button {
    position: fixed;
    right: 0;
} 
